:root {
  /* Primary Colors */
  --primary-color: #6c7ae0;
  --secondary-color: #fa8e23;
  --background-color: #f3f3f3;
  --background-color-002: #717fe0;
  --font-color: #333333;
  --font-color-002: #888888;
  --font-color-003: #ffffff;
  --font-color-004: #222;
  --highlight-color: #6c7ae0;
  --border-color: #797979;
  --btn-primary-bg-color: #717fe0;
  --btn-secondary-bg-color: #e6e6e6;
  --hover-color: #6775d6cc;
  --white: #ffffff;
  --black: #000000;

  /* Typography */
  --font-family-base: "Poppins", sans-serif;
  --font-family-002: "Montserrat", sans-serif;
  --font-family-003: "PlayfairDisplay-Bold", sans-serif;

  /* Font Sizes */
  --font-size-primary: 0.875rem; // 14px
  --font-size-secondary: 0.9375em; // 15px
  --font-size-base: 1rem; // 16px
  --font-size-xs: 0.5rem; // 8px
  --font-size-sm: 0.8125rem; // 13px
  --font-size-md: 1.5rem; // 24px
  --font-size-lg: 1.75rem; // 28px
  --font-size-xl: 2.25rem; // 36px
  --font-size-xxl: 3.75rem; // 60px

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;

  /* Borders & Shadows */
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

$breakpoints: (
  xs: 375px,
  sm: 576px,
  // Small devices (landscape phones)
  md: 768px,
  // Medium devices (tablets)
  lg: 992px,
  // Large devices (desktops)
  xl: 1200px,
  // Extra large devices (large desktops)
  xxl: 1400px // Extra extra large devices (larger desktops),,,,,
);
