.btn-primary{
    border-radius: 23px;
    background-color: var(--btn-primary-bg-color);
    text-transform: uppercase;
    color: var(--font-color-003);
    padding: 0.8875em 0.9375em;
    font-size: 0.9375rem;
    font-family: var(--font-family-base);
    font-weight: 400;
}

.btn-secondary{
    border-radius: 23px;
    background-color: var(--btn-secondary-bg-color);
    text-transform: uppercase;
    color: var(--font-color-004);
    padding: 0.8875em 0.9375em;
    font-size: 0.9375rem;
    font-family: var(--font-family-base);
    font-weight: 400;
}

// Hover Effects
.btn-primary:hover {
    background-color: #222;
    color: var(--font-color-004);
}
.btn-primary:hover {
    background-color: #222;
    color: var(--font-color-003);
}